<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:hsqldb:file:./src/main/resources/persistence/database
        </property>
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Client"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Container"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Destination"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Event"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Journey"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.JourneyDestination"/>
        <mapping class="dk.dtu.gbar.gitlab.shipment.persistence.models.Status"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>